<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>AMPM solutions</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="dashboard.css" rel="stylesheet">
     <link href="/static/css/justified-nav.css" rel="stylesheet">
     <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7; IE=EmulateIE9">

	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>


    <link rel="stylesheet" type="text/css" href="static/css/slide_style.css" media="all" />

    <link rel="stylesheet" type="text/css" href="static/css/fdw-demo.css" media="all" />


</head>



        <!-- stylesheets -->

        <link rel="stylesheet" href="style.css">

        <!-- js files -->



    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="/static/js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <!--<body background="/static/images/offshore-development.jpg">-->


    <div class="container">
    <div class ="img">
    <img src="/static/images/AMPM.jpeg">
</div>


      <!-- The justified navigation menu is meant for single line per list item.
           Multiple lines will require custom code not provided by Bootstrap. -->
      <div class="masthead">
        <nav>
<ul class="nav nav-pills nav nav-justified">
<li class="dropdown">
<a href="#">Home</a></li>
<li class="dropdown">
  <a href="#" data-toggle="dropdown" class="dropdown-toggle">About <b class="caret"></b></a>
  <ul class="dropdown-menu" id="menu1">

            <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li><a href="#">Separated link</a></li>
          
</ul>
</li>
<li class="dropdown">	
  <a href="#" data-toggle="dropdown" class="dropdown-toggle">Technologies<b class="caret"></b></a>
<ul class="dropdown-menu" id="menu1">

            <li><a href="#">Python</a></li>
                <li><a href="#">Java</a></li>
                <li><a href="#">Big Data</a></li>
                <li><a href="#">Tivoli</a></li>
          
</ul>

</li>
<li class="dropdown">
  <a  href="/service/" data-toggle="dropdown" class="dropdown-toggle">Services<b class="caret"></b></a>
<ul class="dropdown-menu" id="menu1">
    <ul class="nav nav-pills"></ul>
        <div class ="under">
        <div>
        	<ul><a href ="/bussiness/" >Bussiness Services</a></ul>


        </div>
       <div>
                <ul> <a href ="/tech/" >Technologies services</a></ul>
       </div>
       <div>
                <ul><a href ="/outsource/" >Outsourcing Services</a></ul>
       </div>
   

</ul>
</li>
<li class="dropdown">
  <a href="#">Solutions</a>
</li>
<li class="dropdown">
  <!--<a href="#" data-toggle="dropdown" class="dropdown-toggle">Contact<b class="caret"></b></a>-->
  <a href="#" data-toggle="dropdown" class="dropdown-toggle">Contact<b class="caret"></b></a>
<ul class="dropdown-menu" id="menu1">

            <li><a href="/india/">India</a></li>
                <li><a href="#">USA</a></li>
                <li><a href="#">UK</a></li>
                <li><a href="#">Singapore</a></li>


</li>
</ul>
<li class="dropdown">
  <a href="/careers/">Careers</a>


</li>
</ul>
</ul>
<li class="dropdown">
  <h5 class="pull-right">
  <h5>World wide<h5>

<a href="/map/"><img src="/static/images/glob.png"></a>
</li>
</ul>
        </nav>


<div style="display: block; text-align: start; position: relative; top: auto; right: auto; bottom: auto; left: auto; width:1130px; height: 500px; margin-top: 50px; overflow: hidden;" class="caroufredsel_wrapper">

                    <ul style="text-align: left; float: none; position: absolute; top: 0px; right: auto; bottom: auto; left: 0px; margin: 0px; width: 1540px; height: 90px;" id="foo3" class="carousel-li">



                    <li>


                          <img src="/static/images/001jpg">


                        </li>
<li>


                            <img src="/static/images/02.jpeg">


                        </li>


                             <li>

                            <img src="/static/images/1.jpg">

                            </li>
                              <li>

                            <img src="/static/images/2.jpg">

                            </li>
                             <li>

                            <img src="/static/images/3.jpg">

                            </li>

                            <li>

                            <img src="/static/images/4.jpg">

                            


                        </li></ul></div>  </body>
        <script src="/static/js/jquery-v1.8.2.js"></script> <!-- jQuery 1.8.2 -->

        <script src="/static/js/jquery-tweetscroll.js"></script> <!-- jQuery tweetscroll plugin -->

        <script src="/static/js/caroufredsel-carousel.js"></script><!-- CarouFredSel carousel plugin -->
 <div id="footer">
      <div class="container">
        <p>Lets Connect:</p>

<div class="col-md-12" style="background:#000">
<div class="col-md-6">
<span>  <a href="/facebook/"><img src="/static/images/fbsmall.png " class="FBimage"></a></span>
  <span><a href="/twitter/"><img src="/static/images/twt.png" class="twimg"></a></span>
<span><a href="/linkedin/"><img src="/static/images/linkedin_small.png" class="lnimg"></a></span>
<span><a href="/google/"><img src="/static/images/google_plus.png" class="lnimg"></a></span>
<span> <a href="/youtube/"><img src="/static/images/youtube.png" class="lnimg"></a></span></div>
<div class="col-md-6" style="padding:10px; color:#fff;" >

<span><a style="color:#fff; line-height:10px; text-decoration:none" href="/terms/" >Terms & Conditions</a></span>|
<span><a  style="color:#fff; line-height:10px; text-decoration:none" href="#" >Disclaimer</a></span>|
<span><a style="color:#fff; line-height:10px; text-decoration:none" `href="#" >Privacy Policy.</a></span>Copy Right @2015 

</div>




</div>

      </div>
    </div>

 <script>

            $("#foo3").carouFredSel({

                items: 1,

                auto: true,

                scroll: 1,

                pagination  : "#foo3_pag"

            });

        </script>




<script type="text/javascript">

var get_height = window.innerHeight; 

var get_height1 =  get_height - 25;

var get_container = document.getElementById('container');

get_container.style.height =  get_height1 + 'px';

</script>
</html>

