<!doctype html>
<html>
<head>
<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
<script src="http://maps.google.com/maps/api/js?sensor=false"></script>
<script src="http://code.jquery.com/jquery-1.4.4.min.js"></script>
<script>
var map, marker, waypointByID = {};

function initialize() {
    map = new google.maps.Map(document.getElementById('map'), {
        zoom: 5,
        center: new google.maps.LatLng(41.879535, -87.624333),
        mapTypeId: google.maps.MapTypeId.ROADMAP
    });
}

waypointByID[0] = {
    name: "place1",
    lat:  28.6,
    lng:  77.2
};

waypointByID[1] = {
    name: "place2",
    lat: 12.9,
    lng: 77.5
};

waypointByID[2] = {
    name: "place3",
    lat: 18.5,
    lng: 73.8
};

waypointByID[3] = {
    name: "place4",
    lat: 17.4471822,
    lng: 78.3778355
};
waypointByID[3] = {
    name: "place4",
    lat: 30.433147,
    lng: -81.715531
};


$(document).ready(function () {
    function activateWaypoints() {
        // Add waypoint click handler
        $('.waypoint').each(function () {
            $(this).click(function() {
                var waypoint = waypointByID[this.id];
                var center = new google.maps.LatLng(waypoint.lat, waypoint.lng);
                if (marker) marker.setMap();
                marker = new google.maps.Marker({map: map, position: center});
                map.panTo(center);
            }).hover(
                function () {this.className = this.className.replace('OFF', 'ON');},
                function () {this.className = this.className.replace('ON', 'OFF');}
            );
        });
    }
    activateWaypoints();
});
</script>
<style>
    body {font-family: sans-serif}
    #map {width: 800px; height: 350px; margin:0px auto 0px auto;}
    #waypoints {width: 800px; height: 100px;margin:0px auto 0px auto;}
    .linkOFF {color: darkblue}
    .linkON {color: white; background-color: darkblue}
</style>
</head>
<body onload='initialize()'>
    <div id=map></div>
    <div id=waypoints>
<ul>
<li class="waypoint" id=0>Delhi</li>
<li class="waypoint" id=1>Banglore</li>
<li class="waypoint" id=2>Pune</li>
<li class="waypoint" id=3>Hydearbad</li>
<li class="waypoint" id=3>USA</li>
</ul>
    </div>
</body>
</html>
