<html>
<head>
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
  <script src="//code.jquery.com/jquery-1.10.2.js"></script>
  <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
  <link rel="stylesheet" href="/resources/demos/style.css">
</head>
{% include "base.html" %}</br></br>

<div class="col-md-12" style="background:#708090">
<div class="col-md-6">

<div class="python">
<h5><span style="color:#fff;">Python:</span>
<span style="color:#fff;">3 Yeras</span></h5></br>
<h5><span style="color:#fff;">Django:</span>
<span style="color:#fff;">2 Yeras</span></h5></br>
<span style="color:#fff;">Html,Javascript,Css,Ajax,Jquery:</span>
<span style="color:#fff;">2 Yeras</span></h5></br>
<h5><span style="color:#fff;">Linux OS:</span>
<span style="color:#fff;">2 Yeras</span></h5></br>
</div>
</div>
<div class="col-md-6">
 <form class="m-t" role="form"  method="POST" action="/python/" enctype="multipart/form-data" onsubmit="return Checkfiles();">
        {%csrf_token%}
                <div class="form-group">
                    <input style="width:30%" type="text" class="form-control" placeholder="Python"   maxlength="30" name="Python" type="text" required="">
                </div>
                <div class="form-group">
                    <input  style="width:30%" type="text" class="form-control" placeholder="Django"  maxlength="30" name="Django" type="text" required="">
                </div>
                <div class="form-group">
                    <input  style="width:30%" type="text" class="form-control" placeholder="Html"  maxlength="30" name="Html" type="text" required="">
                </div>
                <div class="form-group">
                    <input style="width:30%" type="text" class="form-control" placeholder="Linux"  maxlength="30" name="Linux" type="text" required="">
                </div>
                  <div class="form-group">

                <input id="filename" type="file" class="file" data-show-preview="false" name="docfile">
                 <p> (*Please upload doc or pdf file only)</p>
                 </div>

                <button style="background-color: #1ab394;  width: 30%;  border-radius: 10px;  padding: 8px 0px 8px 0px; color:#fff;" value="Submit">Submit</button>
            </form>
                </div>
</div>









</div>
</div>
<script language="javascript">
function Checkfiles()
{
var fup = document.getElementById('filename');
var fileName = fup.value;
var ext = fileName.substring(fileName.lastIndexOf('.') + 1);
if( ext == "pdf" ||  ext == "doc")
{
return true;
} 
else
{
alert("Upload pdf and doc files  only");
fup.focus();
return false;
}
} $(function() {
    var dialog, form,
 
      // From http://www.whatwg.org/specs/web-apps/current-work/multipage/states-of-the-type-attribute.html#e-mail-state-%28type=email%29
      emailRegex = /^[a-zA-Z0-9.!#$%&'*+\/=?^_`{|}~-]+@[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?(?:\.[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?)*$/,
      Python = $( "#Python" ),
      Django = $( "#Django" ),
      password = $( "#password" ),
      allFields = $( [] ).add( name ).add( email ).add( password ),
      tips = $( ".validateTips" );

</script>
</body>
</html>
